@charset "UTF-8";
/* CSS Document */
.rating
{
	width: 100%;
	text-align: center;
}
.rating > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating label
{
	cursor: pointer;
}

.ratingText
{
	text-align: center;
	color:#CCC;
}

#star1:checked ~ #label1
{
	background-position: 0px -40px !important; 
}
#star2:checked ~ #label2
{
	background-position: -40px -40px !important; 
}
#star3:checked ~ #label3
{
	background-position: -80px -40px !important; 
}
#star4:checked ~ #label4
{
	background-position: -120px -40px !important; 
}
#star5:checked ~ #label5
{
	background-position: -160px -40px !important; 
}

#label1:hover { background-position: 0px -40px !important; }
#label2:hover { background-position: -40px -40px !important; }
#label3:hover { background-position: -80px -40px !important; }
#label4:hover { background-position: -120px -40px !important; }
#label5:hover { background-position: -160px -40px !important; }

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #CCC;
       -moz-box-shadow: 0 8px 6px -6px #CCC;
            box-shadow: 0 8px 6px -6px #CCC;
}
@font-face {
    font-family: myFirstFont;
    src: url(../../../../Users/aakashthakkar/Downloads/01182_AgencyFB.ttf);
}

.reviewUl 
{
	list-style: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	margin-bottom: 10px;
}
.reviewUl li
{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0px 5px 0px 0px;
}
.reviewUl li img
{
	border-radius: 8px;
}
.searchBar
{
	width: 300px;
	height: 33px;
	margin-top: 6px;
	margin-left: 30px;
	border-radius: 3px;
	background-color:#FFF;
	float: left;
	overflow: hidden;
}
.locationIcon
{
	background-image:url(location.png);
	background-size: contain;
	background-repeat:no-repeat;
	float: left;
	margin-top: 3px;
	margin-left:3px;
	height:40px;
	width: 25px;
	cursor: pointer;
}
.searchBar input
{
	border-color: transparent;
	box-shadow: none;
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto auto;
	
	float: left;
	margin-top: -2px;
	margin-left:4px;
	width: 235px;
	height: 100%;
	font-size:18px;
}
.resetIcon
{
	background-image: url(clear.png);
	background-size: cover;
	background-repeat:no-repeat;
	float: right;
	height:30px;
	width: 30px;
	cursor: pointer;
}
.rightBar
{
	float: right;
	color: #FFF;
	margin-top:10px;
}
.rightBar a
{
	color: #FFF;
	font-size:16px;
	margin-right: 10px;
}
.rightBar a:hover
{
	text-decoration: none;
}

.badgeCounter2
{
	float: right;
	padding: 5px 12px;
	line-height: 18px;
	background: green;
	border-radius: 9px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset, 0px 1px rgba(255, 255, 255, 0.2);
	font-size: 14px;
	color: white;
	margin-top: -8px;
}
#sectionContactUS .left
{
	float: left;
	width: 48%;
	padding: 10px;
	text-align: center;
	padding-top: 20px;
}
#sectionContactUS .right
{
	float: left;
	width: 48%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #CCC;
}

.modal-buy
{
	text-align: center;
	width: 100%;
	height: 100%;
}
.modal-buy h1
{
	margin: 0px;
	font-size: 28px;
	color: rgb(51, 153, 255);
}
.modal-buy h3
{
	margin: 0px;
	font-size: 16px;
	color: rgb(102, 102, 102);
}
.buyList
{
	margin-top:10px;
}
.buyListItem
{
	text-align: left;
	color: #555;
	padding: 10px 5px 10px 15px;
	cursor: pointer;
	font-size: 18px;
	width: 100%;
	display: block;
}
.buyListItem:hover, .buyListItem:active, .buyListItem:visited, .buyListItem:focus 
{
	background-color: #f5f5f5;
	text-decoration: none;
	color: #555;
}
.grayThis
{
	background-color: #CCC;
    cursor: auto;
	border-bottom: solid #999 1px;
}
.grayThis:last-child
{
	border-bottom: 0px;
}
.buyIndicator
{
	line-height: 10px;
	font-size: 34px;
	color: red;
	position: relative;
	top: 4px;
	left: 12px;
	margin-right: 60px;
}

.selectDateTime
{
	max-height: 300px;
	overflow: auto;
}
.selectDateTime ul
{
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}
.selectDateTime ul li 
{
	display: inline-block;
	margin: 0px 4px;
	border-right: 1px solid #CCC;
	padding: 0px 10px 0px 4px;
	height: 15px;
}
.selectDateTime ul li:last-child
{
	border-right: 0px;
}
.selectDateTime ul li p
{
	border-bottom: 1px solid #000;
	cursor: pointer;
	line-height: 10px;
	padding-bottom: 7px;
	margin: 0px;
}
.dateTimeOption
{
	clear: both;
	border-bottom: 1px solid #CCC;
	height: 50px;
	padding: 8px 0px;
}
.dateTimeOption:first-child
{
	border-top: 1px solid rgb(204, 204, 204);
}
.dateTimeOption p
{
	float: left;
	width: 25%;
	font-size: 17px;
	height: 100%;
}
.dateTimeOption button
{
	float: left;
	width: 15%;
	height: 100%;
	border-radius: 8px;
	border: 0px none;
	background-color: rgb(51, 153, 255);
	color: rgb(255, 255, 255);
}
.grayButton
{
	background-color: #CCC !important;
    cursor: auto;
}
.timeOptionContainer
{
	float: left;
	width: 35%;
	height: 100%;
	margin-top: -5px;
}
.timeOptions
{
	display: inline-block;
	cursor: pointer;
	margin: 0px 5px;
	height: 20px;
}
.timeOptions:hover
{
	border-bottom: 2px solid red;
}
.selectDateTime ul li p:hover 
{
	border-bottom: 3px solid rgb(255, 0, 0);
}
.selectedMonth
{
	border-bottom: 2px solid rgb(255, 0, 0) !important;
	font-size: 16px;
	color: red;
}
.selectedTime
{
	color: red;
	border-bottom: 1px solid red;
}
#buyDetails
{
	width: 100%;
}
#buyDetails select
{
	float: right;
	width: 60%;
	margin-right: 40px;
	text-align: center;
}
#buyDetails label
{
	width: 30%;
	float: right;
	text-align: left;
	padding-left: 90px;
}
#buyDetails input
{
	float: right;
	width: 60%;
	margin-right: 40px;
	text-align: center;
}
#buyDetails hr
{
	width: 60%;
}
.detailButton
{
	width: 15%;
	border-radius: 8px;
	border: 0px none;
	background-color: #39F;
	color: #FFF;
	height: 30px;
	margin-bottom: 10px;
}
.formElements
{
	height: 40px;
	padding-top: 5px;
}

#buySummary hr
{
	width: 60%;
}
.cartHeader
{
	width: 100%;
	background-color: #CCC;
}
.cartHeader p
{
	display: inline-block;
width: 33%;
margin: 0px;
padding: 4px 0px;
}
.cartItem
{
	clear: both;
height: 100%;
}
.cartName
{
	width: 33%;
height: 100%;
float: left;
}
.cartName h2
{
	margin: 0px;
font-size: 20px;
}
.cartName h3
{
	margin: 0px;
font-size: 14px;
}
.cartQty
{
	width: 33%;
height: 100%;
float: left;
}
.cartQty p
{
}
.cartSubTotal
{
	width: 33%;
	float: left;
}
.cartSubTotal p
{
}
.cartTotal
{
}
.cartTotal p
{
	float: right;
width: 34%;
font-weight: bold;
font-size: 16px;
}
.cartDiscount
{
}
.cartDiscount p
{
	float: right;
height: 30px;
margin: 0px 10px 0px 0px;
padding: 3px 0px 0px;
}
.cartDiscount button
{
	float: right;
margin-right: 15px;
border: 0px none;
height: 30px;
border-radius: 8px;
}
.cartDiscount input
{
	float: right;
margin-right: 5px;
}
.selectedActivity
{
	background-color: #CCC !important;
}
.mapSide
{
	overflow: scroll;
	background-color: #EEEEEE;
}
.tileItemBlock
{
	height: 320px;
	margin-top: 20px;
	width: 100%;
	text-align: left;
	display: inline-block;
	text-align: center;
}
.tileItem
{
	height: 100%;
	margin-left: 10px;
	display: inline-block;
	width: 250px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 1px 4px #333;
	font-family: "Avenir Next" !important;
}
.tileItem:hover
{
}
.tileItem img
{
	width: 100%;
	height: 88%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.tileHeaderText
{
	float:left;
	width:70%;
	color: #FFF;
	position: absolute;
	top: 240px;
	text-align: left;
	left: 10px;
}
.tileHeaderText p
{
	font-size:18px;
	line-height:18px;
}
.tileHeaderText span
{
	font-size:12px;
}
.tileKnowMore
{
	color: #FFF;
	top: 140px;
	border: solid 1px #FFF;
	padding:4px;
	border-radius: 3px;
	position: absolute;
	display: none;
}
.tileKnowMore:hover
{
	text-decoration: none;
	color: #FFF;
}
.tileHeaderRating
{
	float:right;
	width:30%;
}
.tileHeaderRating p
{
	background-color: #008000;
	border-radius: 8px;
	margin-top: 8px;
	width: 42px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	padding: 5px;
	margin-left: 20px;
}
.tileFooter
{
	height: 12%;
	width: 100%;
	background-color: #FFF;
	position:absolute;
	bottom:0px;
}
.tileFooterDate
{
	width: 70%;
	text-align: left;
	height: 100%;
	padding-left: 12px;
	padding-top: 8px;
	float: left;
}
.tileFooterCost
{
	float: left;
	height: 100%;
	width: 30%;
	padding-top: 8px;
	font-weight: 500;
	font-family: "Avenir Next" !important;
}
.infoNavBar
{
	width:100%;
	height:40px;
	background-color: #000;
}
@media only screen and (max-width : 1000px)
{
	.hideForMobile
	{
		display: none;
	}
}